body {
    background-color: #424242;
    color: white;
    font-family: Optima, "Helvetica Light", sans-serif;
  }

p
{
  font-size: 60px;
}

.hidden
{
  display: none;
}

#logo
{
  width: 100px;
  float: left;
}

nav ul li a img
{
  width: 40px;
}

nav ul li a
{
  margin-right: 20px;
}

nav ul li
{
  display: inline;
}

nav ul
{
  text-align: center;
}

#time
{
  text-align: center;
  margin-bottom: 30px;
}

#temp
{
  clear: both;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

#temp img
{
  width: 60px;
}
