/*MOBILE*/

body {
    background-color: #424242;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
  }

p
{
  font-size: 20px;
}

.hidden
{
  display: none;
}

#headerIMG
{
  display: none;
  height: 150px;
  width: 100%;
  object-fit: cover;
}

#logo
{
  width: 150px;
  float: left;
  position: absolute;
}

nav ul li a img
{
  width: 40px;
}

nav ul li a
{
  margin-right: 20px;
}

nav ul li
{
  display: inline;
}

nav ul
{
  text-align: center;
}

nav
{
  height: 60px;
  padding-bottom: 10px;
  background-color: #424242;
  position: sticky;

}

#time
{
  text-align: center;
  margin-bottom: 30px;
}

#temp
{
  clear: both;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

#tempNumber
{
  font-size: 60px;
}

#temp img
{
  width: 60px;
}

#AU_header
{
  background-color: #424242;

  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 20px;
}

#aboutUs img
{
  width: 388px;
  height: 100px;
  object-fit: cover;
}

#thermosecureInfo
{
  background-color: white;
  color: #424242;
  padding: 50px;
  padding-top: 75px;
  padding-bottom: 75px;

}

#hotinhere
{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-style: oblique;
  position: absolute;
  padding-top: 40px;
}


/*WEB*/

@media screen and (min-width: 1279px) {
  body
  {
    background-color: #424242;
  }
}

#rooms h3
{
  background-color: #424242;
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 20px;
}

#rooms img
{
  width: 388px;
  height: 100px;
  object-fit: cover;
}

#rooms p
{
  position: absolute;
  font-weight: bold;
  padding-left: 20px;
  text-shadow: 2px 2px 10px black;
}

#kitchenOpen
{
  height: 100px;
  display: none;
}

#kitchenOpen p
{
  position: static;
}

#HSecurity h3
{
  background-color: #424242;
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 20px;
}

#HSecurity input
{
  display: inline;
}

.Security
{
  color: #424242;
  background-color: white;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
}


#statistics img
{
  width: 20px;
}

#alexa img
{
  width: 20px;
  display: inline;
}

#alexa
{
  margin-top: 30px;
  margin-bottom: 30px;
}

.check
{
  padding-left: 10px;
}

#days li a img
{
  width: 20px;
  filter: brightness(0) invert(1);
}

#forecast ul li
{
  display: inline-block;
  padding-right: 10px;
  text-align: center;
}

#days
{
  list-style: none;

}


#days li a img
{
display: block;
}

#moreInfo
{
  margin-left: 30px;
}


@media screen and (min-width: 400px) {

  #aboutUs img
  {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  #rooms img
  {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  nav
  {
    position: sticky;
  }

}

@media screen and (min-width:400px) and (max-width: 700px) {
  #logo
  {
    width: 100px;
  }
}

@media screen and (min-width:700px) and (max-width: 1015px) {
  #headerIMG
  {
    display: block;
  }

  #mainNav
  {
    width: 100%;
  }

  #aboutUs
  {
    width: 100%;

  }

}


@media screen and (min-width: 1015px) {

  #headerIMG
  {
    display: block;
  }
    #mainNav
  {
    width: 40%;
    float: left;
  }

  #aboutUs
  {
    width: 50%;
    float: right;

  }

  #rooms
  {
    clear: both;
  }

  #AU_header
  {
    padding-top: 0px;
  }

  #hotinhere
  {
    text-align: left;
    padding-left: 30px;
  }

  #HSecurity
  {
    width: 49%;
    float: left;
  }

  #moreInfo
  {
    width: 49%;
    float: right;
    margin-left: 10px;
    margin-top: 20px;
  }

}
