body {
    background-color: #424242;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
  }

p
{
  font-size: 20px;
}

.hidden
{
  display: none;
}

#logo
{
  width: 100px;
  float: left;
}

nav ul li a img
{
  width: 40px;
}

nav ul li a
{
  margin-right: 20px;
}

nav ul li
{
  display: inline;
}

nav ul
{
  text-align: center;
}

#time
{
  text-align: center;
  margin-bottom: 30px;
}

#temp
{
  clear: both;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

#tempNumber
{
  font-size: 60px;
}

#temp img
{
  width: 60px;
}

#AU_header
{
  background-color: #424242;
  padding: 50px;
  margin: 0 auto;
}

#thermosecureInfo
{
  background-color: white;
  color: #424242;
  padding: 50px;
  padding-top: 75px;
  padding-bottom: 75px;

}

#hotinhere
{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-style: oblique;
}
